<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>AI Question Program</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />{# tick #}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />{# wrong #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>var exports = {};</script>

    <div style="display:none">
        <div id="crui_username"></div>
        <div id="crui_student_email">robbie.booth.2021@uni.strath.ac.uk</div>
        <div id="crui_student_myplace_id">184876</div>
        <div id="crui_question_id">2934861</div>
        <div id="crui_previous_question_id">2934861</div>{#        Used to determine code that was submitted where questions were made#}
    </div>
    <script>
        $(document).ready(function() {
            let value = "xbb21163@strath.ac.uk".split('@')[0];
            $('#crui_username').text(value);
        });
    </script>
</head>
<body class="bg-dark text-white p-3 m-0 border-0 bd-example m-0 border-0">

<form class="row g-3" id="code-form">
    <div>
        <label for="codeTextArea" class="form-label"><h2>Your Code</h2></label>
      <textarea class="form-control" id="codeTextArea" name="code_snippet" rows="5" required></textarea>
        <div class="invalid-feedback">
            Please add your code to generate questions.
        </div>
    </div>

    <div class="alert alert-danger d-flex align-items-center" role="alert">

      <div>
        Warning: You can only submit your code once per task!
      </div>
    </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="added_code" required>
          <label class="form-check-label" for="added_code">
            I have added the code I want to submit
          </label>
        </div>

    <div>
        <button class="btn btn-primary" type="submit" id="crui_generate_button">Generate Questions</button>
      </div>
</form>

<div class="card visually-hidden"  id="crui_generated_question_holder">
  <div class="card-header">
    Generated Questions
  </div>
  <div class="column" id="questions">
      <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
      </div>
          <br>

    <div class="alert alert-warning" role="alert">
        It can take sometimes take a minute to generate questions! Please don't click anything else!
    </div>
  </div>
    <a class="btn btn-primary" id="crui_check_answers">Check</a>

{#<span class="material-symbols-outlined text-success">#}
{#check#}
{#</span>#}
{#    <span class="material-symbols-outlined text-danger">#}
{#close#}
{#</span>#}
</div>

<input type="text" name="crui_Q1_student_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q1_student_answer"  style="display:none">
 <input type="text" name="crui_Q1_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q1_answer"  style="display:none">

 <input type="text" name="crui_Q2_student_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q2_student_answer" val="" style="display:none">
 <input type="text" name="crui_Q2_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q2_answer" val="" style="display:none">

 <input type="text" name="crui_Q3_student_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q3_student_answer" val="" style="display:none">
 <input type="text" name="crui_Q3_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q3_answer" val="" style="display:none">

 <input type="text" name="crui_Q4_student_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q4_student_answer" val="" style="display:none">
 <input type="text" name="crui_Q4_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q4_answer" val="" style="display:none">

 <input type="text" name="crui_Q5_student_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q5_student_answer" val="" style="display:none">
 <input type="text" name="crui_Q5_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q5_answer" val="" style="display:none">

 <input type="text" name="crui_Q6_student_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q6_student_answer" val="" style="display:none">
 <input type="text" name="crui_Q6_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q6_answer" val="" style="display:none">

 <input type="text" name="crui_Q7_student_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q7_student_answer" val="" style="display:none">
 <input type="text" name="crui_Q7_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q7_answer" val="" style="display:none">

 <input type="text" name="crui_Q8_student_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q8_student_answer" val="" style="display:none">
 <input type="text" name="crui_Q8_answer" class="coderunner-ui-element"
 placeholder="Enter the word 'floodle' here" id="crui_Q8_answer" val="" style="display:none">

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{#https://devweb2023.cis.strath.ac.uk/xbb21163-python/static/dist/formMaker.js#}
<script src="../static/dist/formMaker.js"></script>
</body>

</html>